/* Global */
v\:* {
    behavior:url(#default#VML);
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}


/* Map */

#mapContainer {
    position: relative;
    margin: 0;
}

#mapContainer, #map {
    height: 100%;
    width: 100%;
}


/* Progress */

#progress {
    float: left;
    height: 17px;
    left: 76px;
    position: absolute;
    top: 26px;
    width: 268px;
    display: none;
    color: #6688CC;
    font-size: 0.6em;
    font-weight: bold;
    font-family: 'Arial';
    text-align: center;
}


/* Exhibit Map */
.exhibitMapControl {
    background: url("http://static.simile.mit.edu/graphics/logos/exhibit/exhibit-small-DarkRed.png") no-repeat scroll 0 -3px white;
    border-color: #8B0000;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    color: #8B0000;
    cursor: pointer;
    font-family: 'Arial';
    font-size: 12px;
    font-weight: bold;
    padding: 1px 10px 0 35px;
}
