/* CSS for Public View of ArtDB */

.pvtitle {
	width: 950px;
	padding: 5px;
	text-decoration: none;
    font-weight: normal;
    font-family: Cambria, "Times New Roman", Georgia, Times, serif;
    font-size: 1.2em;
    color: #000000;
	border-bottom: dashed 1px #504f4f;
}

/* for dropdown in list pages*/
#pvsort_span{
	font-size: 0.8em;
	padding: 5px;
	float: right;
 	vertical-align: middle;	
}

#pvsort_select{
	height: 22px;
	float: right;
 	vertical-align: middle;
	border: solid 1px #dbeca6;
	background-color: #eef9ce;
	color: #504f4f;
	font-family: Cambria, "Times New Roman", Georgia, Times, serif;
	font-size: 0.8em;
}


.pvpagination{
	padding: 0 20px 0 0;
	text-align: right;
	text-decoration: none;
	font-family: Cambria, "Times New Roman", Georgia, Times, serif;
	font-size: 0.9em;
	color: #504f4f;
}

.pvpagination a:link, .pvpagination a:visited{
	text-decoration: none;
	font-style: normal;
	color: #504f4f;
}


#pvfooter_div{
	padding: 10px 20px 0 0;
}


/* begin css for table showing list of objects  */

#pvtable_div{
	width: 955px;
	text-decoration: none;
    font-weight: normal;
    font-family: Cambria, "Times New Roman", Georgia, Times, serif;
    font-size: 1em;
	border: solid 2px #dbeca6;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 11px;
	border-radius: 11px;
	behavior: url(/media/htc/border-radius.htc)
}

#pvobject_list{
	width: 100%;
}

#pvobject_list thead{
	background-color: #dbeca6;
}

#pvobject_list tbody{
	font-size: 0.9em;
}

#pvobject_list thead td{
	height: 40px;
	padding: 3px 0 3px 5px;	
	overflow:auto;
}

#pvobject_list tbody td{
	min-height: 40px;
	height: 40px;
	max-height: 40px;
}

.pvtr_odd{
	background-color: #fff;
}

.pvtr_even{
	background-color: #eef9ce;
}

.pvtr_highlight{
	background-color: #cae184;	
}

.pvtd_a:link, .pvtd_a:visited, .pagination a:link, .pagination a:visited{
	color: #504f4f;
	font-style:normal;
	text-decoration:none;
}

.pvtd_a:hover, .pagination a:hover{
		color:#504f4f;
	text-decoration: underline;
}
/* end table css */


/* css for header - logo and navigation */

#pvheader {
height: 38px;
width: 970px;
margin: 0px auto;
position: relative;
}

#pvlogo {
position: absolute;
top: 0px;
left: 0px;
}

ul#navBar {
height: 37px;
margin: 0px;
padding: 0px;
list-style-type: none;
position: absolute;
bottom: 0px;
right: 10px;
}

ul#navBar li {
float: left;
display: block;
width: auto;
height: 37px;
padding: 0px 0px 0px 1px;
}

ul#navBar li a:link, ul#navBar li a:visited {
float: left;
display: block;
width: auto;
margin: 0px;
height: 25px;
padding: 5px 8px 5px 8px;
text-decoration: none;
font-weight: normal;
font-style: normal;
background: url(/media/img/nav_bg.png) repeat-x top left;
font-family: Cambria, "Times New Roman", Georgia, Times, serif;
font-size: 1.1em;
color: #ededed;
border: none;
}

ul#navBar li.current a:link, ul#navBar li.current a:visited {
background: url(/media/img/nav_hover.png) repeat-x top left;
font-style: normal;
}

ul#navBar li a:hover {
color: #fff;
text-decoration: none;
font-style: normal;
background: url(/media/img/nav_hover.png) repeat-x top left;
border: none;
}
/* end header css */

#wrapper {
width: 961px;
margin: 0px auto;
padding: 0px;
background: url(/media/img/content_bg.png) repeat-y top left;
}

#secWrapper{
width: 960px;
margin: 0px auto;
padding: 52px 0px 0px 0px;
background: url(/media/img/content_top.png) no-repeat top left;
}

#container {
width: 930px;
margin: 0px auto;
padding: 0px 15px 30px 20px;
background: url(/media/img/content_bottom.png) no-repeat bottom left;
}


#container td {
    border: none;
    text-decoration: none;
    font-weight: normal;
    font-family: Cambria, "Times New Roman", Georgia, Times, serif;
    font-size: 1em;
    color: #504f4f;
}

.hlink:link, .hlink:visited, .boldTxt{
	color: #000;
	text-decoration: none;
	font-family: Cambria, "Times New Roman", Georgia, Times, serif;
	font-size: 1.05em;
	
}

.hlink:hover{
	text-decoration: underline;
}

.pvimage_block{
	text-align: right;
	padding-right: 35px;
}

.pvcolumn_header{
	text-align: left;
	border: 1px solid #e5f8aa;
margin: 0px;
padding: 6px;
width: 625px;
list-style-type: none;
background: url(/media/img/main_col_bg.png) no-repeat top left #ffffff;
}

#pvcolumn_body{
	text-align: left;
border: 1px solid #e5f8aa;
margin: 0px;
padding-left: 12px;
width: 625px;
list-style-type: none;
background: #dbeca6;
font-size: 0.9em;
}

#pvcopyright{
	text-align:center;
	width: 960px;
	font-size: 0.7em;
}

#pvrecord td{
	height: 30px;
}

.pvspace {
	width: 940px;
	height: 2px;
    background: #fff;
}

.pvcolorspace {
	width: 940px;
	height: 5px;
	padding-left: 20px;
}

.pvbreadcrumb, .pvfooter{
	width: 940px;
	height: 16px;
	padding: 3px 0 3px 20px;
	background: #504f4f;
	font-family: Cambria, "Times New Roman", Georgia, Times, serif;
	font-size: 0.9em;
	font-style: italic;
	color: #fff;
}

.pvfooter{
	width: 930px;
	text-align: right;
	padding-right: 10px;
}

.pvfooter a:link, a:visited{
	text-decoration: none;
	font-family: Cambria, "Times New Roman", Georgia, Times, serif;
	font-size: 1em;
	font-style: italic;
	color: #fff;
}

.pvfooter a:hover{
	text-decoration: underline;
}

.pvbreadcrumb a:link, a:visited{
	text-decoration: none;
	font-family: Cambria, "Times New Roman", Georgia, Times, serif;
	font-size: 1em;
	font-style: italic;
	color: #fff;
}

.pvbreadcrumb a:hover{
	text-decoration: underline;
}

#preview{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:1px;
	display:none;
	color:#fff;
	}

#pvmain { 
    width: 930px;
    padding: 20px;
    background: #fff;
	border: solid 1px #f0f0f0;
}

#pvbanner {
	background: url(/media/img/banner.png) no-repeat;
	width: 970px;
	height: 75px;
	margin-left: 15px;
}

#pvouter{
	margin-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 940px;
	height: 25px;
	background: #000000;
}

#pvmenu {
	width: 940px;
	height: 25px;
	background: #90ac39;
}

#pvwrap {
    width: 970px;
    margin: 0 auto;
    background: #fff;
}


#pvwrap h1 {
	margin-left: 10px;
	width: 930px;
	font: 23px/1.6 Palatino, serif;
    text-indent: 5px;
    border-bottom: 1px dashed #ddd;
}

.pvart_image {
	height: 170px;
	width: 150px;
}
