/* Slider */

.ui-slider {
    width: 218px;
    height: 23px;
    position: absolute;
    background: url(/media/img/timecontrols3d.png) -97px;
    background-repeat: no-repeat;
    background-position: -97px center;
    cursor: pointer;
    left: 32px;
    border: none;
}

.ui-slider .ui-slider-handle {
    background: transparent url(/media/img/timecontrols3d.png) no-repeat scroll -384px -1px;
    height: 18px;
    left: 0px;
    position: absolute;
    top: 2px;
    width: 12px;
    z-index: 1;
    border: none;
    cursor: col-resize;
}

.ui-slider .ui-slider-disabled .ui-slider-handle {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.ui-slider .ui-slider-range {
/*
    position: absolute;
    background: #50A029;
    opacity: 0.3;
    filter: alpha(opacity=30);
    width: 100%;
    height: 100%;
*/
    background: #6688CC none repeat scroll 0 0;
    height: 6px;
    left: 100%;
    margin-left: 12px;
    margin-right: 19px;
    opacity: 0.3;
    filter: alpha(opacity=30);
    position: absolute;
    top: 8px;
    margin: auto;
    border: none;
}

.sliderMinusButton {
    display: inline;
    width: 32px;
    height: 23px;
    position: absolute;
    background: transparent url(/media/img/timecontrols3d.png) no-repeat scroll -65px center;
    cursor: pointer
}

.sliderPlusButton {
    width: 25px;
    height: 23px;
    position: absolute;
    background: transparent url(/media/img/timecontrols3d.png) no-repeat scroll -358px center;
    cursor: pointer;
    left: 247px;
}

.sliderPlusDate {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #6688CC;
    cursor: pointer;
    font-size: 0.6em;
    font-weight: bold;
    font-family: 'Arial';
    left: 201px;
    position: absolute;
    text-align: right;
    top: 23px;
    width: 60px;
    z-index: -1;
    background: url("/media/img/timecontrols3d.png") no-repeat scroll -225px 0 transparent;
    height: 14px;
    text-align: center;
}

.sliderPlusDateLeft {
    background-color: #FF00FF;
    width: 10px;
    height: 15px;
    display: inline-block;
    background: url("/media/img/timecontrols3d.png") no-repeat scroll -64px 0px transparent;
    top: 23px;
    left: 171px;
    position: relative;
}

.sliderPlusDateRight {
    background-color: #FF00FF;
    width: 10px;
    height: 15px;
    display: inline-block;
    background: url("/media/img/timecontrols3d.png") no-repeat scroll -372px 0px transparent;
    top: 23px;
    left: 231px;
    position: relative;
}

.sliderPlusDateContainer {

}

.sliderMinusDate {
    background: url("/media/img/timecontrols3d.png") no-repeat scroll -225px 0 transparent;
    border: medium none;
    color: #6688CC;
    cursor: pointer;
    font-size: 0.6em;
    font-weight: bold;
    font-family: 'Arial';
    left: 10px;
    position: absolute;
    text-align: left;
    top: 23px;
    width: 60px;
    z-index: -1;
    height: 14px;
    text-align: center;
}

.sliderMinusDateLeft {
    background-color: #FF00FF;
    width: 10px;
    height: 15px;
    display: inline-block;
    background: url("/media/img/timecontrols3d.png") no-repeat scroll -64px 0px transparent;
    top: 23px;
    left: 0px;
    position: relative;
}

.sliderMinusDateRight {
    background-color: #FF00FF;
    width: 10px;
    height: 15px;
    display: inline-block;
    background: url("/media/img/timecontrols3d.png") no-repeat scroll -372px 0px transparent;
    top: 23px;
    left: 60px;
    position: relative;
}

.sliderSelectedContainer {
    width: 270px;
    height: 10px;
    position: absolute;
    text-align: center;
    top: -15px;
}

.sliderSelectedLeft {
    background-color: #FF00FF;
    width: 10px;
    height: 15px;
    display: inline-block;
    background: url("/media/img/timecontrols3d.png") no-repeat scroll -64px 0px transparent
}

.sliderSelectedRight {
    background-color: #FF00FF;
    width: 10px;
    height: 15px;
    display: inline-block;
    background: url("/media/img/timecontrols3d.png") no-repeat scroll -372px 0px transparent
}

.sliderSelected {
    background: url("/media/img/timecontrols3d.png") no-repeat scroll -225px 1px transparent;
    color: #6688CC;
    display: inline-block;
    font-family: 'Arial';
    font-size: 0.6em;
    font-weight: bold;
    height: 15px;
    padding-top: 2px;
    position: relative;
    top: -4px;
}

/* DatePicker */

.ui-datepicker {
    font-size: 0.6em;
}
