{% extends "pvbase.html" %}
{% load i18n %}

{% block more_scripts %}
<script type='text/javascript' src='/media/js/tooltip.js'>
</script>
{% endblock %}

{% block title %}{% trans "Artwork" %}{% endblock %}

{% block navigation_bar %}
<li class="current">
    <a href="{% url artworks_list %}">Artworks</a>
</li>
<li>
    <a href="{% url creators_list %}">Creators</a>
</li>
<li>
    <a href="{% url series_list %}">Series</a>
</li>
<li>
    <a href="{% url map %}">Map</a>
</li>
{% endblock %}

{% block current_crumb %}{{ artwork.title }}{% endblock %}

{% block pv_page_body %}

<div class="pvtitle">
    {{ artwork.title }}
</div>
<div class="pvcolorspace" style="background-color: #ffffff;">
</div>
<div id="secWrapper">
    <div id="wrapper">
        <div id="container">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="pvimage_block" width="40%">
                        <div>
                            {% for artImg in artwork.images.all %}<img id="artwork_image" class="pvart_image" src="{{ artImg.url }}" />{% endfor %} 
                        </div>
                    </td>
                    <td id="pvrecord" width="60%">
                        <table>
                            <tr>
                                <td>
                                    Creator:  {% for creator in artwork.creators.all %}<a class="hlink" href="{% url creator_record creator.id %}">{{ creator.name }} </a>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% if artwork.creation_year_start and artwork.creation_year_end %} 
                                    Dated In: <span class="boldTxt">{{ artwork.creation_year_start }} - {{ artwork.creation_year_end }}</span>
                                    {% else %} 
                                    Dated In: <span class="boldTxt">n/a </span>
                                    {% endif%}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% if artwork.original_place %} 
                                    Original Destination: <a class="hlink preview" rel="{% url map %}" href="http://maps.google.com/maps/api/staticmap?center=37.387345,-122.082138&zoom=13&markers=37.386052,-122.083851&size=300x200&sensor=false">{{ artwork.original_place.title }}</a>
                                    {% else %} 
                                    Original Destination: <span class="boldTxt">n/a </span>
                                    {% endif%}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% if artwork.current_place %} 
                                    Current Location: <a class="hlink preview" rel="{% url map %}" href="http://maps.google.com/maps/api/staticmap?center=37.387345,-122.082138&zoom=13&markers=37.386052,-122.083851&size=300x200&sensor=false">{{ artwork.current_place.title }}</a>
                                    {% else %} 
                                    Current Location: <span class="boldTxt">n/a </span>
                                    {% endif%}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% if artwork.serie.id %} 
                                    It belongs to series: <a class="hlink" href="{% url series_record artwork.serie.id %}">{{ artwork.serie }} </a>
                                    {% else %} 
                                    It belongs to series: <span class="boldTxt">None</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    It shows the virgin: 
                                    {% for artVirgin in artwork.virgins.all %}<a class="hlink" href="{{ url }}">{{ artVirgin.name }} </a>
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <div class="pvspace" style="height: 20px; width: 100%;">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <div class="pvcolumn_header">
                            General Description
                        </div>
                        <div id="pvcolumn_body" style="height: 50px;">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}