{% extends "pvbase.html" %}
{% load i18n %}
{% load convert_tags %}
{% block more_scripts %}
<script type='text/javascript' src='/media/js/tooltip.js'>
</script>
<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.2.74.js">
</script>
<script type="text/javascript">
    
    this.searchClicked = function(){
        $('#search_button').click(function(){
            search_data = $('#search_text').val();
            window.location.href = '{% url search %}?data=' + search_data;
        });
    };
    
    this.advancedSearch = function(){
        $('#advanced_search_button').click(function(){
            window.location.href = '{% url search %}';
        });
    };
    
    this.initialize_menu = function(div_name){
        $(div_name).mouseenter(function(){
            $(div_name).cycle('pause');
        });
        
        $(div_name).mouseleave(function(){
            $(div_name).cycle('resume');
        });
        
        $(div_name).cycle({
            fx: 'fade',
            timeout: '500' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
        });
        
    }
    $(document).ready(function(){
        initialize_menu('.img_artwork');
    });
</script>
{% endblock %}
{% block title %}{% trans "Artwork" %}{% endblock %}
{% block navigation_bar %}
<li class="current">
    <a href="{% url artworks_list %}">Artworks</a>
</li>
<li>
    <a href="{% url creators_list %}">Creators</a>
</li>
<li>
    <a href="{% url series_list %}">Series</a>
</li>
<li>
    <a href="{% url map %}">Map</a>
</li>
{% endblock %}
{% block current_crumb %}{{ artwork.title }}{% endblock %}
{% block pv_page_body %}
<div class="pvtitle">
    {{ artwork.title }}
</div>
<div class="pvcolorspace" style="background-color: #ffffff;">
</div>
<div id="secWrapper">
    <div id="wrapper">
        <div id="container">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="pvimage_block" width="40%" align="right">
                        <div class="img_artwork">
                            {% if artwork.images.count != 0 %}
                            {% for artImg in artwork.images.all %} 
                            {% if artImg.url %} 
                            {% thumbnail artImg.url "190x190,crop" %}
                            {% else %}
                            {% thumbnail "http://schooloutfits.co.uk/images/Unavailable321x321.gif" "190x190,crop" %} 
                            {% endif %} 
                            {% endfor %} 
                            {% else %}
                            {% thumbnail "http://schooloutfits.co.uk/images/Unavailable321x321.gif" "190x190,crop" %} 
                            {% endif %} 
                        </div>
                    </td>
                    <td id="pvrecord" width="60%">
                        <table>
                            <tr>
                                <td>
                                    Creator:  {% for creator in artwork.creators.all %}<a class="hlink" href="{% url creator_record creator.id %}">{{ creator.name }} </a>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% if artwork.creation_year_start and artwork.creation_year_end %} 
                                    Dated In: <span class="boldTxt">{{ artwork.creation_year_start }} - {{ artwork.creation_year_end }}</span>
                                    {% else %} 
                                    Dated In: <span class="boldTxt">n/a </span>
                                    {% endif%}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% if artwork.original_place %} 
                                    Original Destination: <a class="hlink preview" rel="{% url map %}" href="http://maps.google.com/maps/api/staticmap?center=37.387345,-122.082138&zoom=13&markers=37.386052,-122.083851&size=300x200&sensor=false">{{ artwork.original_place.title }}</a>
                                    {% else %} 
                                    Original Destination: <span class="boldTxt">n/a </span>
                                    {% endif%}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% if artwork.current_place %} 
                                    Current Location: <a class="hlink preview" rel="{% url map %}" href="http://maps.google.com/maps/api/staticmap?center=37.387345,-122.082138&zoom=13&markers=37.386052,-122.083851&size=300x200&sensor=false">{{ artwork.current_place.title }}</a>
                                    {% else %} 
                                    Current Location: <span class="boldTxt">n/a </span>
                                    {% endif%}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% if artwork.serie.id %} 
                                    It belongs to series: <a class="hlink" href="{% url series_record artwork.serie.id %}">{{ artwork.serie }} </a>
                                    {% else %} 
                                    It belongs to series: <span class="boldTxt">None</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    It shows the virgin: 
                                    {% for artVirgin in artwork.virgins.all %}<a class="hlink" href="{{ url }}">{{ artVirgin.name }} </a>
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <div class="pvspace" style="height: 20px; width: 100%;">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <div class="pvcolumn_header">
                            General Description
                        </div>
                        <div id="pvcolumn_body">
                            <ul>
                                <li>
                                    Clasificación
                                    <ul id="classify">
                                        {% for d in descriptor %}
                                        {% if "Clasificación" in d.path %}
                                        {{ d.parent.name }}: {{ d.name }}
                                        <br/>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li>
                                    Contenido
									<ul id="classify">
                                        {% for d in descriptor %}
                                        {% if "Contenido" in d.path %}
                                        {{ d.parent.name }}: {{ d.name }}
                                        <br/>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li>
                                    Propiedades Físicas
									<ul id="classify">
                                        {% for d in descriptor %}
                                        {% if "Propiedades Físicas" in d.path %}
                                        {{ d.parent.name }}: {{ d.name }}
                                        <br/>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
								{% for d in descriptor %}
                                  {% if "Propiedades Físicas" in d.path %}
                                  {% else %}
								  	{% if "Contenido" in d.path %}
									{% else %}        
                                  		{% if "Clasificación" in d.path %}
								  		{% else %}
								  			<li>{{ d }}</li>
								  		{% endif %}
									{% endif %}
								  {% endif %}
                                {% endfor %}
                            </ul>
                            <br/>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}