{% extends "pvbase.html" %}
{% load i18n %}

{% block more_scripts %}
<script type='text/javascript'>
	this.selectionChanged = function() {
	$( '#pvsort_select' ).change( function() {
		orderby = $("#pvsort_select option:selected"); 
		window.location.href= '{{url}}?orderby=' + orderby.val();
		});
	};

// starting the script on page load
	$(document).ready(function(){
		selectionChanged();
	});
</script>
{% endblock %}

{% block title %}{% trans "Series" %}{% endblock %}

{% block navigation_bar %}
<li>
    <a href="{% url map %}">Map</a>
</li>
<li class="current">
    <a href="{% url series_list %}">Series</a>
</li>
<li>
    <a href="{% url creators_list %}">Creators</a>
</li>
<li>
    <a href="{% url artworks_list %}">Artworks</a>
</li>
{% endblock %}

{% block current_crumb %}{% trans "Series" %}{% endblock %}

{% block pv_page_body %}
<div class="pvtitle">
    Series
    <select id="pvsort_select">
        <option value="title">Title</option>
        {% if order == "no_of_artworks" %}<option value="no_of_artworks" selected='true'>Number of Artworks</option>
        {% else %}<option value="no_of_artworks">Number of Artworks</option>
        {% endif %}
    </select>
    <span id="pvsort_span">Sort By:</span>
</div>

<div class="pvcolorspace" style="background-color: #ffffff;">
</div>
<div id="pvtable_div">
	<table id="pvobject_list" cellpadding="5px">
    	<thead>
        	<tr>
            	<td>
                	Title
                </td>
                <td align="center" style="padding:0;">
                	Number of Artworks
                </td>
            </tr>
        </thead>
		<tbody>
        	{% for serie in series.object_list %}
            <tr class="{% cycle 'pvtr_odd' 'pvtr_even' %}" onmouseover="this.className='pvtr_highlight'" onmouseout="this.className={% cycle '\'pvtr_odd\'' '\'pvtr_even\'' %}">
            	<td width="80%">
                	<a class="pvtd_a" href="{% url series_record serie.id %}">{{ serie.title }}</a>
                </td>
				<td align="center" style="padding:0;">
					{{ serie.artwork_set.count }}
				</td>
			</tr>
            {% endfor %}
        </tbody>
	</table>
	<div class="pvspace" style="height: 10px;">
    </div>
    <div class="pvpagination">
    	<a id="first" href="?orderby={{ order }}&page=1">First</a>
		<<
        {% if series.has_previous %}
		<a href="?orderby={{ order }}&page={{ series.previous_page_number }}">Previous</a>
		{% else %}
		<span style="color: #acb19e"> Previous </span>
		{% endif %}
		<span class="current">
		<< Page {{ series.number }} of {{ series.paginator.num_pages }} >>
		</span>
		{% if series.has_next %}
		<a href="?orderby={{ order }}&page={{ series.next_page_number }}">Next</a>
		{% else %}
		<span style="color: #acb19e"> Next </span>
		{% endif %}
		>>
		<a href="?orderby={{ order }}&page={{ series.paginator.num_pages }}">Last</a>
	</div>
	<div class="pvspace" style="height: 10px;">
    </div>
</div>
{% endblock %}