*.gitignore
*.xml
local_settings.py
*.csv
*.list
*.gexf
*.arff
*.xls
*.png
*.freqs.txt
django_descriptors
media/django_descriptors
django_qbe
media/django_qbe
media/cache
media/images
backups/*.json
backups/*.tar.gz
convert
install.txt
baroqueart.*
hamburg
backups_20110922
