{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Map" %}{% endblock %}
{% block extra_links %}
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/start/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="/media/css/TimeControl.css" />
{% endblock %}
{% block extra_scripts %}
<script type="text/javascript" src="http://www.google.com/jsapi?key={{ GOOGLE_API_KEY }}"></script>
<script type="text/javascript" src="/media/js/base.js"></script>
<!--<script type="text/javascript" src="/media/js/TimeControl.js"></script>-->
<!--<script type="text/javascript" src="/media/js/markerclusterer.js"></script>-->
{% endblock %}

{% block body %}
<div id="mapContainer">
    <div id="map">{% trans "Loading" %}...</div>
    <div id="progress"></div>
</div>
{% endblock %}

