{% extends "base.html" %}
{% load i18n %}

{% block extra_links %}
<link rel="stylesheet" type="text/css" href="/media/css/pvbase.css" />
{% endblock %}

{% block extra_scripts %}
<script type='text/javascript' src='/media/django_descriptors/js/jquery.js'></script>
<script type='text/javascript'>
    this.searchClicked = function(){
        $('#pv_search_button').click(function(){
            search_data = $('#pv_search_text').val();
            window.location.href = '{% url search %}?data='+search_data;
        });
    };
	$(document).ready(function(){
        searchClicked();
    });
</script>
{% block more_scripts %}
{% endblock %}
{% endblock %}


{% block body %}

<div id="pvwrap">
	<div class="pvspace" style="padding: 10px 0 10px 20px;"></div>
	<div id="pvheader">
    	<img src="/media/img/banner1.png" id="pvlogo" alt="Logo" />
		<div style=" height: 23px; padding: 5px 5px 7px 5px;">
			<input type="text" id="pv_search_text"/>
    		<input type="button" id="pv_search_button"/>
		</div>
        <ul id="navBar">
        	{% block navigation_bar %}{% endblock %}         
        </ul>
    </div>
<div class="pvcolorspace" style="background-color: #90ac39;"></div>
<div class="pvspace"></div>
<div class="pvbreadcrumb">     
	{% for b in request.breadcrumbs %}
        <a href="{{ b.url }}">{{ b.name }}</a>{% if not forloop.last %}  >>  {% endif %}{% endfor %} >>
	 {% block current_crumb %}{% endblock %}
	 </div>
<div class="pvcolorspace" style="background-color: #ffffff;"></div>
{% block pv_page_body %}{% endblock %}
	
    <div id="pvfooter_div">
    	<div class="pvspace" height="100px"></div>
    	<div class="pvcolorspace" style="background-color: #90ac39;"></div>
<div class="pvspace"></div>
    	<div class="pvfooter"><a href="#">Contact Us</a> | <a href="#">Help</a></div>
		<div id="pvcopyright">&copy; University of Western Ontario</div>
    </div>
</div>

{% endblock %}


