{% extends "pvbase.html" %}
{% load i18n %}

{% block more_scripts %}
<script type="text/javascript" src="/media/js/search.js"></script>
{% endblock %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block navigation_bar %}
<li>
    <a href="{% url map %}">Map</a>
</li>
<li>
    <a href="{% url series_list %}">Series</a>
</li>
<li>
    <a href="{% url creators_list %}">Creators</a>
</li>
<li>
    <a href="{% url artworks_list %}">Artworks</a>
</li>
{% endblock %}

{% block current_crumb %}{% trans "Search" %}{% endblock %}

{% block pv_page_body %}
<div class="pvtitle">
    Search
</div>
	<input type="hidden" id="search_url" name="search_url" value="{% url search_view %}" />
   <div class="pvcolorspace" style="background-color: #ffffff;">
</div>
<div id="secWrapper">
    <div id="wrapper">
        <div id="container" >
        	<div align="center" style="padding-right: 20px;">
          <div id="table_search">
			<span style="position:relative; left: -30px;">Choose the type of data to search in:</span>			
			<select class="pv_search_select">
					<option value=''>Pick ...</option>
					<option value="Artwork">Artwork</option>
					<option value="Creator">Creator</option>
					<option value="Serie">Serie</option>
				</select>
				<input type="hidden" id="type_selection" name="type_selection" value="" /><br/><br /><br />
				<table id="criteria_table">
					<tbody>
					</tbody>
				</table>
				<br/>
			<input type="button" class="search_fields_button" />
          </div>
		  <br />
    <div id="search_table_div" style="width:92%; border: solid 1px #f0f0f0 ;"> 
				</div>
		  </div>
        </div>
    </div>
</div>
{% endblock %}