{% load i18n %}
<table id="pvobject_list" cellpadding="5px">
<thead>
    <tr>
        <td style="padding-left: 10px; height: 25px;">Search Results</td>
    </tr>
</thead>
<tbody>
    {% for result in results.object_list %}
    <tr class="{% cycle 'pvtr_odd' 'pvtr_even' %}" onmouseover="this.className='pvtr_highlight'" onmouseout="this.className={% cycle '\'pvtr_odd\'' '\'pvtr_even\'' %}">
        <td style="height: 25px;">
        	{% if result.title %}
				{% if result.creators %}
           		 	<a class="pvtd_a" href="{% url artworks_record result.id %}">{{ result.title }}</a>
				{% else %}
					<a class="pvtd_a" href="{% url series_record result.id %}">{{ result.title }}</a>
				{% endif %}
			{% endif %}
			{% if result.name %}
            	<a class="pvtd_a" href="{% url creator_record result.id %}">{{ result.name }}</a>
			{% endif %}
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
<input type="hidden" name="page_number" id="page_number" value="{{ results.number }}" />
<input type="hidden" name="last_page" id="last_page" value="{{ results.paginator.num_pages }}" />

				 <div class="pvpagination">               	
                       	<a id="first">First</a>
						<<
                    	{% if results.has_previous %}
							<a id="previous">Previous</a>
						{% else %}
						    <span style="color: #acb19e"> Previous </span>
						{% endif %}
						<span class="current">
						  << Page {{ results.number }} of {{ results.paginator.num_pages }} >>
						</span>
						{% if results.has_next %}
							<a id="next">Next</a>
						{% else %}
						    <span style="color: #acb19e"> Next </span>
						{% endif %}
						>>
						<a id="last">Last</a>
                </div>
