{% extends "base.html" %}
{% load i18n %}
{% block extra_links %}
<link rel="stylesheet" type="text/css" href="/media/css/pvbase.css" />
{% endblock %}
{% block extra_scripts %}
<script type='text/javascript' src='/media/django_descriptors/js/jquery.js'></script>
<script type='text/javascript' src='/media/js/tooltip.js'></script>
{% endblock %}

{% block title %}{% trans "Creator" %}{% endblock %}

{% block body %}

<div id="pvwrap">
	<div class="pvspace" style="padding: 10px 0 10px 20px;"></div>
<div id="pvheader">
    	<img src="/media/img/banner1.png" id="logo" alt="Logo" />
        <ul id="navBar">
        	 <li><a href="#">Artworks</a></li>
            <li class="current"><a href="#">Creators</a></li>
            <li><a href="#">Series</a></li>
            <li><a href="#">Search</a></li>            
        </ul>
    </div>
<div class="pvcolorspace" style="background-color: #90ac39;"></div>
<div class="pvspace"></div>
<div class="pvbreadcrumb"> <a href="#">Home</a> >> <a href="#">Creators</a> >> {{ creator.name }}</div>
<div class="pvcolorspace" style="background-color: #ffffff;"></div>
	<div class="pvtitle">
        {{ creator.name }}
    </div>
   <div class="pvcolorspace" style="background-color: #ffffff;"></div>
    	 
		<div id="secWrapper">
    		<div id="wrapper">
        	<div id="container">
        						
    </div>
	</div>
	</div>
    <div id="footer">
    	<div class="pvspace" height="100px"></div>
    	<div class="pvcolorspace" style="background-color: #90ac39;"></div>
<div class="pvspace"></div>
    	<div class="pvfooter"><a href="#">Contact Us</a> | <a href="#">Help</a></div>
		<div id="pvcopyright">&copy; University of Western Ontario</div>
    </div>
</div>

{% endblock %}


