{% extends "pvbase.html" %}
{% load i18n %}

{% block title %}{% trans "Creator" %}{% endblock %}

{% block navigation_bar %}
<li>
    <a href="{% url artworks_list %}">Artworks</a>
</li>
<li class="current">
    <a href="{% url creators_list %}">Creators</a>
</li>
<li>
    <a href="#">Series</a>
</li>
<li>
    <a href="{% url map %}">Map</a>
</li>
{% endblock %}

{% block current_crumb %}{{ creator.name }}{% endblock %}

{% block pv_page_body %}
<div class="pvtitle">
    {{ creator.name }}
</div>
<div class="pvcolorspace" style="background-color: #ffffff;">
</div>
<div id="secWrapper">
    <div id="wrapper">
        <div id="container">
        </div>
    </div>
</div>
{% endblock %}