{% extends "pvbase.html" %}
{% load i18n %}

{% block more_scripts %}
<script type='text/javascript' src='/media/js/tooltip.js'></script>
{% endblock %}

{% block title %}{% trans "Creator" %}{% endblock %}

{% block navigation_bar %}
<li>
    <a href="{% url map %}">Map</a>
</li>
<li>
    <a href="{% url series_list %}">Series</a>
</li>
<li class="current">
    <a href="{% url creators_list %}">Creators</a>
</li>
<li>
    <a href="{% url artworks_list %}">Artworks</a>
</li>
{% endblock %}

{% block current_crumb %}{{ creator.name }}{% endblock %}

{% block pv_page_body %}
<div class="pvtitle">
    {{ creator.name }}  <span style="font-size: 0.7em;">(
		{% if creator.birth_year %}
			{{ creator.birth_year }}
		{% else %}
			n.a.
		{% endif %} 
		-
		{% if creator.death_year %}
			{{ creator.death_year }}
		{% else %}
			n.a.			
		{% endif %})</span>
</div>
<div class="pvcolorspace" style="background-color: #ffffff;">
</div>
<div id="secWrapper">
    <div id="wrapper">
        <div id="container" align="center">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 800px;">
                <tr>
                    <td id="pvrecord" colspan="2" style="width: 55%; vertical-align: top; padding: 0 0 0 100px;" align="center" >
                        <table>
                            <tr>
                                <td >
                                    {% if creator.birth_place %} 
                                    Place of birth: <a class="hlink preview" rel="{% url map %}" href="http://maps.google.com/maps/api/staticmap?center=37.387345,-122.082138&zoom=13&markers=37.386052,-122.083851&size=300x200&sensor=false">{{ creator.birth_place.title }}</a>
                                    {% else %} 
                                    Place of birth: <span class="boldTxt">n.a. </span>
                                    {% endif%}
                                    
                                </td>
                            </tr>
							<tr>
                                <td>
                                    {% if creator.death_place %} 
                                    Place of death: <a class="hlink preview" rel="{% url map %}" href="http://maps.google.com/maps/api/staticmap?center=37.387345,-122.082138&zoom=13&markers=37.386052,-122.083851&size=300x200&sensor=false">{{ creator.death_place.title }}</a>
                                    {% else %} 
                                    Place of death: <span class="boldTxt">n.a. </span>
                                    {% endif%}
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% if creator.activity_start_year and creator.activity_end_year %} 
                                    Activity Period: <span class="boldTxt">{{ creator.activity_start_year }} - {{ creator.activity_end_year }}</span>
                                    {% else %} 
                                    Activity Period: <span class="boldTxt">n.a. </span>
                                    {% endif%}
                                </td>
                            </tr>
                        </table>
                    </td>
					<td style="padding: 0 0 0 0px;" align="center">
									<div class="pvcolumn_header" style="width: 275px;">
                            General Description
                        </div>
                        <div id="pvcolumn_body" style="height:100px; width: 275px; background-color: #fff;">
                        </div>
								</td>
                </tr>
				<tr>
					 <td colspan="2" align="left" style="padding: 0 0 0 0px;">
                          <span style="padding-left: 5px;">List of Artworks:</span><br/>
                        <div id="pvcolumn_body" style="height:150px; width: 450px; overflow-y:auto; padding: 0;  background-color: #fff;">
						<table>
						{% for artwork in creator.artwork_set.all %}
							<tr><td class="{% cycle 'pvtr_odd' 'pvtr_even' %}" style="padding: 5px;"><a class="pvtd_a" href="{% url artworks_record artwork.id %}">{{ artwork.title }}</a></td></tr>
						{% endfor %}
						</table>
                        </div>
                    </td>
						<td class="pvimage_block" width="45%" style="padding: 20px 0 0 0px;" align="center">
						<div class="pvcolumn_header" style="width: 275px;">
                            Masters & Students
                        </div>
                        <div id="pvcolumn_body" style="height:118px; overflow-y: auto; width: 287px; background-color: #fff; padding:0;">
						<table>							
						{% for master in creator.masters.all %}
							<tr><td style="padding-left:10px;"><img src="/media/img/teacher.png" /><a class="pvtd_a" href="{% url creator_record master.id %}"> {{ master.name }}</a></td></tr>
						{% endfor %}
						{% for student in students %}
							<tr><td style="padding-left:10px;"><img src="/media/img/student.png" /> <a class="pvtd_a" href="{% url creator_record student.id %}">{{ student.name }}</a></td></tr>
						{% endfor %}
						</table>
                        </div>
                    </td>
				</tr>
                <tr>
                    <td colspan="2" align="center">
                        <div class="pvspace" style="height: 20px; width: 100%;">
                        </div>
                    </td>
                </tr>
                <tr>
                   
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}