{% extends "admin/base.html" %}
{% load i18n %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% url qbe_js %}"></script>
{% endblock %}

{% block title %}{{ title }} | {{ PROJECT_NAME }} {% trans 'site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{{ PROJECT_NAME }}: {% trans 'Administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %}
{{ block.super }}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', "{{ GOOGLE_ANALYTICS }}"]);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endblock %}
