{% extends "pvbase.html" %}
{% load i18n %}

{% block extra_links %}
{% if year_from and year_to %}
<link href="{% url artworks_json %}?from={{ year_from }}&to={{ year_to }}" type="application/json" rel="exhibit/data" />
<link rel="stylesheet" type="text/css" href="/media/css/pvbase.css" />
{% else %}
<link href="{% url artworks_json %}" type="application/json" rel="exhibit/data" />
{% endif %}
{% endblock %}
{% block extra_scripts %}
<script type="text/javascript" src="http://www.google.com/jsapi?key={{ GOOGLE_API_KEY }}"></script>
<script type="text/javascript" src="/media/js/exhibit.js"></script>
<script type="text/javascript" src="http://api.simile-widgets.org/exhibit/2.2.0/exhibit-api.js"></script>
<script type="text/javascript" src="http://api.simile-widgets.org/exhibit/2.2.0/extensions/time/time-extension.js"></script>
{% endblock %}

{% block title %}{% trans "Exhibition" %}{% endblock %}

{% block search_box %}
        <div id="exhibitSearch"
            ex:role="facet"
            ex:queryParamName="q"
            ex:facetClass="TextSearch">
        </div>
{% endblock %}

{% block current_crumb %}Exhibit{% endblock %}

{% block navigation_bar %}
    <li>
        <a href="{% url artworks_list %}">Artworks</a>
    </li>
    <li>
        <a href="{% url creators_list %}">Creators</a>
    </li>
    <li class="current">
        <a href="{% url series_list %}">Series</a>
    </li>
    <li>
        <input id="exhibitMapHidden" type="hidden" value="{% url map %}">
        <a id="exhibitMapLink" href="{% url map %}?from={{ year_from }}&to={{ year_to }}">Map</a>
    </li>
{% endblock %}

{% block pv_page_body %}

<div class="pvtitle">
<h1>
{% if year_from and year_to %}
    {% blocktrans %}
    Artworks exhibition in range of
    {% endblocktrans %}
    <select id="exhibitYearFrom">
    {% for year in year_range %}
        <option value="{{ year }}" {% if year_from == year %}selected="selected"{% endif %}>{{ year }}</option>
    {% endfor %}
    </select>
    :
    <select id="exhibitYearTo">
    {% for year in year_range %}
        <option value="{{ year }}" {% if year_to == year %}selected="selected"{% endif %}>{{ year }}</option>
    {% endfor %}
    </select>
{% else %}
    {% trans "Artworks exhibition" %}
{% endif %}
    <span class="exhibitMessages">
        <span style="display: none;" id="exhibitUpdate"><a id="exhibitUpdateRange">{% trans "Update now" %}</a></span>
        <span style="display: none;" id="exhibitOutOfRange">[{% trans "The range must not be longer than 25 years" %}]</span>
    </span>
    <span class="filterOptions" id="exhibitFiltersToggle"><span>{% trans "Facets" %}</span></span>
</h1>

<div id="exhibitFiltersContainer">
    <div id=exhibitFilters>
     <span
        ex:role="facet"
        ex:scroll="true"
        ex:expression=".creators"
        ex:facetLabel="{% trans "Creators" %}">
     </span>
     <span
        ex:role="facet"
        ex:scroll="true"
        ex:expression=".serie"
        ex:facetLabel="{% trans "Serie" %}">
     </span>
     <span
        ex:role="facet"
        ex:scroll="true"
        ex:expression=".descriptors"
        ex:facetLabel="{% trans "Descriptors" %}">
     </span>
<!--     <span ex:role="facet" ex:expression=".size" ex:facetLabel="{% trans "Size" %}"></span>-->
     <span
        ex:role="facet"
        ex:scroll="true"
        ex:expression=".current_place"
        ex:facetLabel="{% trans "Place (current)" %}">
     </span>
     <span
        ex:role="facet"
        ex:scroll="true"
        ex:expression=".creation_year_end"
        ex:facetLabel="{% trans "Century" %}"
        ex:facetClass="NumericRange"
        ex:interval="100">
    </span>
     <span
        ex:role="facet"
        ex:scroll="true"
        ex:expression=".creation_year_start"
        ex:facetLabel="{% trans "Creation year start" %}"
        ex:facetClass="NumericRange"
        ex:interval="25">
    </span>
     <span
        ex:role="facet"
        ex:scroll="true"
        ex:expression=".creation_year_end"
        ex:facetLabel="{% trans "Creation year end" %}"
        ex:facetClass="NumericRange"
        ex:interval="25">
    </span>
    </div>
</div>

</div>


<div class="pvcolorspace" style="background-color: #ffffff;">
</div>
<div id="secWrapper">
    <div id="wrapper">
        <div id="container">   

{% block nav %}
{% comment %}
<ul>
    <li>
        {% if year_from and year_to %}
            <a href="{% url map %}#from={{ year_from }}&to={{ year_to }}">{% trans "Back to the map" %}</a>
        {% else %}
            <a href="{% url map %}">{% trans "Back to the map" %}</a>
        {% endif %}
    </li>
</ul>
{% endcomment %}
{% endblock %}

{% block main %}
    <div ex:role="viewPanel">
        <div
            ex:showDuplicates="true"
            ex:role="view">
        </div>
        <div
            ex:role="view"
            ex:viewClass="Timeline"
            ex:topBandUnit="year"
            ex:scroll="true"
            ex:bottomBandUnit="decade"
            ex:start=".creation_year_start"
            ex:end=".creation_year_end">
        </div>
        <div
            ex:role="exhibit-view"
            ex:viewClass="Exhibit.TabularView"
            ex:columns=".identifier, .label, .creators, .serie, .creation_year_start, .creation_year_end"
            ex:columnLabels="{% trans "ID" %}, {% trans "Name" %}, {% trans "Creators" %}, {% trans "Serie" %}", {% trans "Creation year start" %}, {% trans "Creation year end" %}
            ex:columnFormats="list, list, list, list, list, list"
            ex:sortColumn="1"
            ex:sortAscending="true"
            ex:paginate="true"
            ex:pageSize="100">
        </div>
    </div>
{% endblock %}
    </div>
    </div>
</div>
{% endblock %}
